<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated idm -->
      <package
            uri="http://www.example.org/idm"
            class="idm.IdmPackage"
            genModel="model/idm.genmodel"/>
   </extension>

</plugin>
